/* Reset margins and paddings */
* {
    margin: 10px;
    padding: 0;
}

/* Body styles */
body {
    background-color: #F0E9D3; 
    font-family: "Times New Roman", serif; 
    text-align: center;
}

/* Table styles */
table {
    margin: 0 auto; 
    border-collapse: collapse; 
}

th, td {
    border: 1px solid black; 
    padding: 8px; 
    text-align: left; 
}

/* Board styles */
.board {
    display: inline-block;
    margin: 20px;
}

/* Name styles */
.Name {
    font-size: 20px; 
}

/* Button styles */
.btnAdd {
    font-size: 20px; 
    padding: 15px 30px; 
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    margin: 10px; 
}

.btnAdd:hover {
    background-color: #45a049; 
}

/* Image container styles */
#left-image-container, #right-image-container {
    position: fixed; 
    top: 0px; 
    height: auto; 
    width: 20%; 
    display: flex; 
    align-items: flex-start; 
    justify-content: center; 
}

/* Image styles */
#left-image, #right-image {
    width: 100%; 
    height: auto; 
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .Name {
        font-size: 16px; 
    }

    .btnAdd {
        font-size: 16px; 
        padding: 10px 20px; 
    }

    #left-image-container, #right-image-container {
        width: 90%; 
        top: 100px; 
    }
}
